### !IMPORTANT: ALL THE VALUES THAT CONTAINS SYMBOL $, MUST BE SCAPED WITH SYMBOL $
### EXAMPLE 'MY$$SECRET'

################################################################################
################################################################################
##     APP CONFIGURATION      ##
################################################################################
################################################################################

# Environment mode to hide or display errors and other behaviors. Can it be (production, development)
CI_ENV="development"

################################################################################
##    DATABASE      ##
################################################################################

### JARVIS DB
DB_JARVIS_HOST="127.0.0.1"
DB_JARVIS_USER="root"
DB_JARVIS_PASSWORD=""
DB_JARVIS_PORT="3306"
DB_JARVIS_DATABASE="jarvis"
DB_JARVIS_V2_DATABASE="teo2_0"
DB_JARVIS_V3_DATABASE="cosmos"
DB_JARVIS_V4_DATABASE="datawarehouse"

## DATAWAREHOUSE DB ##
DB_DATAWAREHOUSE_USER = "root"
DB_DATAWAREHOUSE_PASSWORD = ""

### EXPERIENCE DB
DB_EXPERIENCE_HOST=""
DB_EXPERIENCE_USER=""
DB_EXPERIENCE_PASSWORD=""
DB_EXPERIENCE_PORT=""
DB_EXPERIENCE_DATABASE=""

### MEUCCI DB ### 
DB_MEUCCI_HOST=""
DB_MEUCCI_PORT=""
DB_MEUCCI_USER=""
DB_MEUCCI_PASSWORD=""
DB_MEUCCI_DATABASE=""

##TOKEN PLATAFORMAS##
DB_TOKEN_HOST=""
DB_TOKEN_USER=""
DB_TOKEN_PASSWORD=""
DB_TOKEN_PORT=""
DB_TOKEN_DATABASE=""


################################################################################
##    SOCKETS      ##
################################################################################

SOCKETS_ENABLE=FALSE
SOCKETS_HOST="http://localhost"
SOCKETS_PORT="3000"


################################################################################
##    SENTRY      ##
################################################################################

SENTRY_ENABLED=FALSE
SENTRY_URL=""

################################################################################
##    ROCKETCHAT      ##
################################################################################

ROCKETCHAT_URL=""
ROCKETCHAT_BOT_USERNAME=""

################################################################################
##    METABASE      ##
################################################################################

METABASE_URL=""
METABASE_SECRET_KEY=""

################################################################################
##    META 4      ##
################################################################################

META4_USERID=""
META4_URL=""

################################################################################
##  AZURE  POWER BI      ##
################################################################################

AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""
AZURE_SECURITY_GROUP_ID=""
AZURE_CAPACITY_ID=""
AZURE_RESOURCE=""
AZURE_POWERBI_API_URL=""
AZURE_LOGIN= "https://login.windows.net"

################################################################################
##  COSMOS      ##
################################################################################

COSMOS_API_URL_NOTIFICATIONS=""

################################################################################
##  COOKIES      ##
################################################################################

COOKIES_SECURE=FALSE
COOKIES_HTTP_ONLY=TRUE
#  ( None || Lax  || Strict )
COOKIES_SAMESITE="Strict"

COOKIES_CSRF=FALSE
CONCURRENT_SESIONS=FALSE
CLOSE_SESSION_TIMEOUT=FALSE

################################################################################
##  Redis      ##
################################################################################

REDIS_ENABLE=FALSE
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
REDIS_AUTH=FALSE
REDIS_USER=""
REDIS_PASSWORD=""

################################################################################
##  ACTIVE DIRECTORY      ##
################################################################################

KONECTA_ROJO_LDAP_DOMAIN=""
KONECTA_ROJO_LDAP_ACCOUNT_SUFFIX=""
KONECTA_ROJO_LDAP_BASE_DN=""
KONECTA_AZUL_LDAP_DOMAIN=""
KONECTA_AZUL_LDAP_ACCOUNT_SUFFIX=""
KONECTA_AZUL_LDAP_BASE_DN=""



################################################################################
##    JWT      ##
################################################################################

#Tiempo en minutos de duración de sesión client
JWT_CLIENT_TIMEOUT=86400
#Tiempo en minutos de duración de sesión
JWT_TIMEOUT=2
#Tiempo en minutos de duración de sesión para recuperación
JWT_TIMEOUT_REFRESH=3
#Tiempo en minutos de duración de sesión con doble factor de autenticación
JWT_TIMEOUT_MFA=10

### JWT SEED
SECRET_KEY_ACCESS_JWT="YOUR_JWT_SEED"
SECRET_KEY_ACCESS_CLIENT_JWT="YOUR CLIENT JWT"

SECRET_KEY_MFA_JWT="YOUR_JWT_SEED"

### JWT SEED EXTERNAL LOGIN
SECRET_KEY_EXTERNAL_ACCESS_JWT="XXX"


################################################################################
##    EMAIL      ##
################################################################################

SMTP_PASSWORD=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_AUTH_EMAIL=""
SMTP_EMAIL=""
SMTP_SECURE_EMAIL=""


################################################################################
##    MFA      ##
################################################################################

MFA_ENABLED=FALSE

################################################################################
##   PENTAHO      ##
################################################################################

PENTAHO_CARTE_USER = "user"
PENTAHO_CARTE_PASSWORD = "password"
PENTAHO_CARTE_URL = "http://carteurl/exec"
PENTAHO_REPOSITORY_USER = "userRepository!"
PENTAHO_REPOSITORY_PASSWORD = "passwordRepository!"


################################################################################
##    URLS      ##
################################################################################

CLOUD_URL = "https://api.mypurecloud.com/api/v2/"
JENKINS_URL="https://www.jenkins.io"


################################################################################
##  KOIN      ##
################################################################################
KOIN_API_COST_CENTERS_PASSWORD="DummiYmlhIxyzEF0ZW5jaW9uIHkgTWFuxyzdGVuaW1pZW50xyzbyBkZSBDbGllbnaaaRlcyBUZ"
KOIN_API_URL="Dummihttp://Dummi:8080/Dummi/Api_cecos/"
KOIN_API_COST_CENTERS_USER="Dummi" 
